.searchInput{
    display: flex;
    margin-top: 1%;
    margin-left: 30%;
    border: 1px solid lightgray;
    padding: 10px;
    color: gray;
    width: 40%;
    border-radius: 30px;
    transition: box-shadow .1s;
}

.searchInput:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.mainSearchIcon{
    color: rgb(167, 161, 161);
    font-size: 22px !important;
    padding-left: 5px;
}

.mainVoiceIcon{
    color: rgb(0, 132, 255);
    padding-right: 5px;
    cursor: pointer;
}

.mainVoiceIcon:hover{
    border: 1px solid lightgray;
    border: none;
    padding: 2px;
    overflow: hidden;
    border-radius: 50px;
    background-color:rgb(240, 240, 240);
}

.searchInput>form{
    display: flex;
    width: 100%;
}

.searchInput>form>input{
    border: none;
    flex: 1;
    outline-width: 0;
    margin-left: 10px;
    font-weight: 600;
    padding: 5px;
}

.searchInput>form>button{
    display: none;
}

.searchButtons{
    margin-top: 30px;
   
}

.searchButtonsContainer>button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 16px;
    border: none;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #3c4043;
    font-size: 14px ;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

button:hover{
    border: 1px solid lightgray;
}

.searchLanguageContainer{
    display: inline-block;
    line-height: 28px;
    padding: 0 10px;
    text-align: center;
    margin-top: 20px;
}

.googleOffered{
    font-size: small;
    color: #3c4043;
    line-height: 28px;
}

.language{
    color: #1a0dab;
    text-decoration: none;
    padding: 0 3px;
    cursor: pointer;
    font-size: small;
    line-height: 28px;
    margin: 0 2px;
}

.language:hover{
    text-decoration: underline;
}

.searchButtonsHidden{
    display: none!important;
}